<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="OCS API logs">
    <Properties>
        <Property name="baseDir">test-output/log4j2/</Property>
    </Properties>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss} [%t] %p %logger{40} - %msg%n}"/>
        </Console>

        <RollingFile
                name="rolling-file"
                fileName="${baseDir}qa.log"
                filePattern="${baseDir}qa.%d{yyyy-MM-dd-HH:mm}-%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %p %logger{40} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- asynchronous loggers -->
        <AsyncLogger name="com.ocs.backend" level="debug" additivity="false">
            <AppenderRef ref="rolling-file"/>
            <AppenderRef ref="stdout"/>
        </AsyncLogger>

        <!-- synchronous loggers -->
        <Root level="error">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
